.header {
    max-width: 1140px;
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
}

.header__logo {
    margin-top: auto;
    margin-bottom: auto;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.header__nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 191.68%;
    text-decoration: none;
    color: white;
    margin-left: 47px;
}


.header__button {
    margin-left: auto;
}

.header__button-getStarted {
    color: #744FF4;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: center;
    width: 165px;
    height: 48px;
    background: #FFD74F;
    box-shadow: 1px 3px 11px -3px rgba(255, 231, 150, 0.45);
    border-radius: 4px;
    cursor: pointer;
}

.header__bars-icon {
    display: none;
}


/*responsive*/

@media (max-width: 830px) {
    .header__nav, .header__button {
        display: none;
    }
    .header__bars-icon {
        display: block;
        color: white;
        background-color: green;    
        margin-right: 20px;
    }
}
